@page "/"

@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-link" @onclick="GoToBadPage">Go to Bad Page</button>

@code {

    void GoToBadPage()
    {
        NavigationManager.NavigateTo("GoToBadPage");
    }
}
